{% extends 'base.html' %}
  {% block title %} Pastebin copy {% endblock %}

  {% block admin-panel %}
    <a href="/admin" class="btn btn-outline-info">Admin</a>
    <div class="btn-group">
      <!-- <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Create
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'paste_create_url' %}">Post</a>

      </div> -->
    </div>
  {% endblock %}

  {% block content1 %}
    <div class="row">
      <div class="col-9 tx-1">
        {% block content %}
        Welcome
        {% endblock %}
      </div>
      <div class="col-3">
        <h3 class="mb-5">Last public pastes:</h3>
        {% for paste in pasteslist %}
        <div class="card m-2">
          <div class="card-body">
            <a class="center" href="{{ paste.get_absolute_url }}">{{ paste.title }}</a><br>
            <div class="text-muted">- create {{ paste.create_time|timeuntil }} ago</div>
          </div>
        </div>
        {% endfor %}
        <div class="m-2 float-right">
          <a href="{% url 'paste_list_url' %}">Show more</a>
        </div>
      </div>
    </div>


  {% endblock %}
